 
@{
    ViewBag.Title = "ShowStock";
}

<h2>ShowStock</h2>


 <div style="background-image:url('../../Content/image/bg2.jpg')">
    <div style="float:left; width:50%;">
        <div class="ins-wall">
            <div class="instrument">
                <a class="btn btn-lg btn-primary btn-block" href="@Url.Content("~/Market/Google")">Google</a>

            </div>
        </div>
    </div>

    <div style="float:left; width:50%;">
        <div class="ins-wall">
            <div class="instrument">
                <a class="btn btn-lg btn-primary btn-block" href="@Url.Content("~/Market/Microsoft")">Microsoft</a>

            </div>
        </div>
    </div>
</div>