@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label>Create New User Role</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>


                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Create Role</button>
                </div>
            </form>
        </div>
</div>
</div>
}





































